body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
img {
  width: 370px;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/*Main content sections*/
.main-content-section {
  padding: 80px 70px 80px 70px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 0;
}
/*About-me-section*/
.about-me-section {
  margin-bottom: 30px;
}
.about-me-profession {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  margin: 0 0 25px 0;
  border-bottom: 1px solid #595959;
  height: 40px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0px 0 30px 0;
}

.about-me-discription {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 15px 0 0 0;
}
/*My projects section*/
.my-projects-section {
  margin-bottom: 30px;
}
.my-projects-team-section {
  margin-bottom: 30px;
}
.my-projects-list {
  padding: 0 0 0 19px;
  margin: 15px 0 0 0;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-right: 3px;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/*My work experience*/
.my-work-experience-company {
  color: #fb6d3a;
  margin-left: 5px;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 20px 0 0 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 0px;
  margin-top: 5px;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
  margin: 10px 0 0 0;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

/*Education*/
.my-education-section {
  margin: 30px 0 0 0;
}
.my-education-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 20px 0 0 0;
}
.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px 0 0 0;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 5px 0 0 0;
}

.my-education-divider {
  color: #000;
}

/*Sidebar section*/
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40x 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section,
.languages-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 0 0 20px 0;
}
/*Contacts section*/
.contacts-section-link {
  color: #969797;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition-duration: 500ms;
}
.contacts-section-link:hover,
.contacts-section-link:focus {
  color: #d3653d;
  transition-duration: 500ms;
}
/*Tech skills section*/
.tech-skills-list {
  padding: 0 0 0 17px;
  margin: 0;
}
.tech-skills-item {
  color: #fb6d3a;
}
.tech-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
/*soft skills section*/
.soft-skills-list {
  padding: 0 0 0 15px;
  margin: 0;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
/* languages section */
.languages-list {
  padding: 0 0 0 15px;
  margin: 0;
}
.languages-item {
  color: #fb6d3a;
}
.languages-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
